%nav.navbar.navbar-default
  .container-fluid
    .navbar-header
      %button.navbar-toggle.collapsed{ type: 'button', aria: { expanded: false }, data: { toggle: 'collapse', target: '#main_navbar_collapse_1' } }
        %span.sr-only Toggle navigation
        %span.icon-bar
        %span.icon-bar
        %span.icon-bar
      = link_to 'Character Vault', '#', class: 'navbar-brand'

    .collapse.navbar-collapse#main_navbar_collapse_1
      %ul.nav.navbar-nav
        %li.active
          %a{ href: '#' }
            Link
            %span.sr-only (current)
        %li
          %a{ href: '#' } Link
      %ul.nav.navbar-nav.navbar-right
        %li
          - if user_signed_in?
            %li.dropdown
              %a.dropdown-toggle{ href: '#', role: 'button', aria: { haspopup: true, expanded: false }, data: { toggle: 'dropdown' } }
                = current_user.first_name
                %span.caret
              %ul.dropdown-menu
                %li
                  = link_to 'Sign out', destroy_user_session_path, method: :delete
          - else
            = link_to 'Sign in with Google', user_omniauth_authorize_path(:google_oauth2)
